<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dss</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/dss.css" />
  </head>
  <body>
    <div class="parent d-flex">
      <%- include('offcanvas') %>
      <div class="block left pe-5 ps-2 py-4">
        <div class="leftBrandMenu">
          <img src="/assets/brand2.png" alt="" />
        </div>
        <div class="leftOptions d-flex flex-column gap-2 justify-content-start">
          <a class="text-decoration-none" href="">
            <div
              class="OptionCtn selected d-flex align-items-center justify-content-start gap-2 py-2 px-2 rounded"
            >
              <i class="ri-folder-5-fill"></i>
              <p class="m-0">My Cloud</p>
            </div>
          </a>
          <a title="See All Shared Files" class="text-decoration-none" href="">
            <div
              class="OptionCtn d-flex align-items-center justify-content-start gap-2 py-2 px-2 rounded"
            >
              <i class="ri-folder-shared-fill"></i>
              <p class="m-0">Shared</p>
            </div>
          </a>
          <a
            title="See All Files Uploaded"
            class="text-decoration-none"
            href=""
          >
            <div
              class="OptionCtn d-flex align-items-center justify-content-start gap-2 py-2 px-2 rounded"
            >
              <i class="ri-file-3-fill"></i>
              <p class="m-0">All Files</p>
            </div>
          </a>
          <a title="See Favourite Files" class="text-decoration-none" href="">
            <div
              class="OptionCtn d-flex align-items-center justify-content-start gap-2 py-2 px-2 rounded"
            >
              <i class="ri-star-s-fill"></i>
              <p class="m-0">Starred</p>
            </div>
          </a>
          <a title="See Deleted Files" class="text-decoration-none" href="">
            <div
              class="OptionCtn d-flex align-items-center justify-content-start gap-2 py-2 px-2 rounded"
            >
              <i class="ri-delete-bin-fill"></i>
              <p class="m-0">Recycle Bin</p>
            </div>
          </a>
        </div>
        <div class="leftBottom">
          <div
            class="OptionCtnBtm d-flex align-items-center justify-content-start gap-2 py-2 rounded"
          >
            <i class="ri-hard-drive-2-fill"></i>
            <p class="m-0">Storage Used</p>
          </div>
          <div
            class="progress"
            role="progressbar"
            aria-label="Example with label"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar" style="width: 25%"></div>
          </div>
          <small>125MB Out Of 500MB</small>
        </div>
      </div>
      <div class="block right d-flex flex-column">
        <nav class="navbar bg-body-tertiary bg-light shadow-sm">
          <div class="container-fluid">
            <div class="d-flex align-items-center">
              <button
                style="width: 30px; height: 30px"
                class="menu"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample"
              >
                <lottie-player
                  src="https://assets1.lottiefiles.com/private_files/lf30_cohh6wnz.json"
                  background="transparent"
                  speed="1"
                  style="width: 100%; height: 100%"
                  autoplay
                  loop
                ></lottie-player>
              </button>
              <form
                action="/upload"
                method="post"
                class="upload-file-form d-none"
                enctype="multipart/form-data"
              >
                <input class="file-input" type="file" name="file" />
              </form>
              <a
                class="navbar-brand d-flex align-items-center"
                style="cursor: pointer"
              >
                <lottie-player
                  src="https://assets4.lottiefiles.com/packages/lf20_XyWejw.json"
                  background="transparent"
                  speed="1"
                  style="width: 40px; height: 40px"
                  hover
                  class="upload-file-icon"
                ></lottie-player>
                <span>Upload File</span>
              </a>
            </div>
            <!-- <button class="menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <div class="menu_block">
                            <div class="lineBlock">
                                <div class="lines"></div>
                                <div class="lines"></div>
                                <div class="lines"></div>
                                <div class="lines"></div>
                            </div>
                        </div>
                        <div class="menu_block2"></div>
                    </button> -->
            <div class="d-flex align-items-center">
              <form class="d-flex" role="search">
                <input
                  class="searchinp form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
              </form>
              <div class="btn-group dropstart">
                <button
                  class="btn border-0"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <div class="profile">
                    <span>T</span>
                  </div>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="contentCtn px-2">
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <div class="content_navLeft">
                <div class="pathCtn dropdown-center">
                  <% if(!path){ %>
                      <button
                      class="folderPath p-1 rounded-1 btn bg-none border-0 dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      My Drive
                    </button>
                  <% } else{ %>
                    <div class="d-flex align-items-center ms-2">
                      <a class="folderPath p-1 rounded-1 text-dark text-decoration-none" href="/dashboard">My Drive</a>
                      <i class="text-secondary ri-arrow-right-s-line"></i>
                      <% path.forEach((e,i) => { %>
                        <% if(path.length-1 !== i){ %>
                          <a class="folderPath p-1 rounded-1 text-dark text-decoration-none" href="/dashboard/<%=e.id%>">
                            <%=e.name%>
                            <i class="text-secondary ri-arrow-right-s-line"></i>
                          </a>
                        <% } else{ %>
                          <div class="dropdown-center">
                            <button
                            class="folderPath p-1 rounded-1 bg-transparent border-0 dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            >
                            <%=e.name%>
                            </button>
                            <ul class="dropdown-menu shadow border-0">
                              <li
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                data-bs-parentId="<%=folders[0]?._id%>"
                              >
                                <a class="dropdown-item" href="#"
                                  ><i class="ri-folder-add-line me-2"></i> New Folder
                                </a>
                              </li>
                              <hr />
                              <li style="cursor: pointer;" onclick="document.querySelector('.file-input').click()">
                                <a class="upload-file-btn dropdown-item"
                                  ><i class="ri-file-upload-line me-2"></i> Upload File</a
                                >
                              </li>
                              <li>
                                <a class="dropdown-item" href="#"
                                  ><i class="ri-folder-upload-line me-2"></i> Upload
                                  Folder</a
                                >
                              </li>
                            </ul>
                          </div>
                        <% }%>
                      <% }) %>
                    </div>
                  <% }%>
                  <ul class="dropdown-menu shadow border-0">
                    <li
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      data-bs-parentId="<%=folders[0]?._id%>"
                    >
                      <a class="dropdown-item" href="#"
                        ><i class="ri-folder-add-line me-2"></i> New Folder
                      </a>
                    </li>
                    <hr />
                    <li style="cursor: pointer;" onclick="document.querySelector('.file-input').click()">
                      <a class="upload-file-btn2 dropdown-item"
                        ><i class="ri-file-upload-line me-2"></i> Upload File</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        ><i class="ri-folder-upload-line me-2"></i> Upload
                        Folder</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="content_navRight d-flex align-items-center">
                <div class="optionsWrapper align-items-center">
                  <a class=" delete text-decoration-none text-dark">
                    <i
                      class="deleteIcon optionIcons p-2 rounded-circle ri-delete-bin-fill"
                    ></i>
                  </a>
                  <a class="text-decoration-none text-dark">
                    <i
                      class="optionIcons p-2 rounded-circle ri-share-fill"
                      data-bs-toggle="modal"
                      data-bs-target="#shareModal"
                      data-bs-whatever="@mdo"
                    ></i>
                  </a>
                  <div class="btn-group dropstart">
                    <button
                      type="button"
                      class="btn bg-none border-0"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i
                        class="p-2 optionIcons rounded-circle ri-more-2-fill"
                      ></i>
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="ri-folder-transfer-line me-2"></i> Move
                          to</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item addToStar" href="#"
                          ><i class="ri-star-line me-2"></i> Add to Starred</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="ri-edit-2-line me-2"></i> Rename</a
                        >
                      </li>
                      <hr />
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="ri-information-line me-2"></i> View
                          details</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          ><i class="ri-download-fill me-2"></i> Download</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="viewBtn bg-light d-flex align-items-center">
                  <div class="viewIcon">
                    <i
                      id="gridView"
                      class="ri-layout-grid-fill selectedIcon"
                    ></i>
                  </div>
                  <div class="viewIcon">
                    <i id="listView" class="ri-list-check"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="path mx-4 d-flex align-items-center">
              Mydrive>Local>To>
              <div>
                <button
                  class="btn bg-none border-0 text-nowrap"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  Me Khali Karunga
                </button>
                <div
                  class="left-collapse position-absolute"
                  style="min-height: 120px"
                >
                  <div class="collapse" id="collapseExample">
                    <ul
                      class="rollMenu shadow border-0 bg-white list-unstyled text-black py-2 px-1 rounded-3"
                    >
                      <li
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        data-bs-whatever="@mdo"
                      >
                        <a class="dropdown-item px-2" href="#"
                          ><i class="ri-folder-add-line me-2"></i> New Folder</a
                        >
                      </li>
                      <hr class="mx-1" />
                      <li>
                        <a class="dropdown-item px-2" href="#"
                          ><i class="ri-file-upload-line me-2"></i> Upload
                          File</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item px-2" href="#"
                          ><i class="ri-folder-upload-line me-2"></i> Upload
                          Folder</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> -->
          </nav>
          <hr class="mx-3 my-0" />

          <!-- <div class="contentRight shadow-sm"></div> -->
        </div>
        <div class="container-fluid px-4 py-3 folderCtn">
          <div>
            <% if(folders.length > 0){ %>
            <h6 class="mb-3">Folders</h6>
            <div class="folderWrapper row row-cols-6 mb-5">
              <%folders.forEach(function(elem){%>
              <div
                data-bs-folderId="<%=elem._id%>"
                class="folderDiv d-flex align-items-center justify-content-start gap-2 py-2 px-2 rounded"
              >
                <i class="ri-folder-5-fill"></i>
                <p title="my cloud" class="m-0"><%=elem.name%></p>
              </div>
              <% })%>
            </div>
            <% }else{ %>
            <div class="folderWrapper text-center">
              <img class="mt-4" style="width: 30vmax;" src="/assets/NoData.webp" alt=""></div>
              <div>
                <p class="ms-3 mb-0 fw-bold text-center">Nothing to Show 😔</p>
                <p class="ms-3 mb-0 fw-semibold text-center">Use "Upload" button to Upload a File or Folder</p>
              </div>
            <% } %>
          </div>
          <%if(files.length>=1){%>
          <h6 class="mb-3">Files</h6>
          <div class="fileWrapper row row-cols-5 px-3 gap-3">
            <%files.forEach(function(elem){%>
            <!-- <%=elem.filename.split("%20")[0]%> -->
            <%let type = elem.filename.split("*")[1].split(".")[1]%>
            <div
              class="fileDiv card mb-3 bg-transparent"
              style="width: 14vmax"
              data-bs-fileId="<%=elem.filename%>"
            >
              <div
                class="fileIconCtn card-body d-flex align-items-center justify-content-center"
              >
                <% if(type === 'png' || type === 'jpg' || type === 'jpeg'){ %>
                <i class="ri-image-2-fill"></i>
                <% } else if(type === 'mp4'){ %>
                <i class="ri-movie-fill"></i>
                <% } else if(type === 'pdf'){ %>
                <i class="ri-file-pdf-fill"></i>
                <% } else if(type === 'docx'){ %>
                <i class="ri-file-word-fill"></i>
                <% } else if(type === 'pptx'){ %>
                <i class="ri-file-ppt-fill"></i>
                <% } else if(type === 'mp3'){ %>
                <i class="ri-file-music-fill"></i>
                <% } %>
              </div>
              <div class="fileFooter p-1 d-flex align-items-end gap-1">
                <% if(type === 'png' || type === 'jpg' || type === 'jpeg'){ %>
                <i class="ri-image-2-fill"></i>
                <% } else if(type === 'mp4'){ %>
                <i class="ri-movie-fill"></i>
                <% } else if(type === 'pdf'){ %>
                <i class="ri-file-pdf-fill"></i>
                <% } else if(type === 'docx'){ %>
                <i class="ri-file-word-fill"></i>
                <% } else if(type === 'mp3'){ %>
                <i class="ri-file-music-fill"></i>
                <% }%>
                <small class="m-0"><%=elem.filename.split("*")[1]%></small>
                <!-- <a href="/share/<%=elem.filename%>">share</a> -->
              </div>
            </div>
            <% })%>
          </div>
          <%} else{ %>
          <div class="fileWrapper"></div>
          <% } %>
        </div>
      </div>
      <!-- bootstrap modal -->

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                New Folder
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form method="post" action="/createfolder">
                <div class="mb-3">
                  <input
                    autofocus
                    type="text"
                    placeholder="untitled name"
                    class="form-control"
                    id="recipient-name"
                    name="foldername"
                  />
                  <input
                    type="text"
                    name="parentId"
                    class="parentId"
                    style="display: none"
                  />
                </div>
                <div class="modal-footer border-0">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- another bootstrap model for sharing files and folders -->
      <div
        class="modal fade"
        id="shareModal"
        tabindex="-1"
        aria-labelledby="shareModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="shareModalLabel">Share</h1>
              <div>
                <i class="ri-question-line"></i>
                <i class="ri-settings-3-line"></i>
              </div>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <input
                    placeholder="Add People"
                    type="text"
                    class="form-control"
                    id="recipient-name"
                  />
                </div>
              </form>
              <div>
                <p class="text-secondary fw-semibold">People with access</p>
                <div class="AccessEmailPeopleDiv">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <div class="d-flex align-items-center">
                      <div class="profile2">
                        <span> A </span>
                      </div>
                      <div class="ms-2">
                        <p
                          class="m-0 text-dark fw-semibold"
                          style="line-height: 12px; font-size: 0.9rem"
                        >
                          Ashutosh Pandey (You)
                        </p>
                        <small class="m-0 text-secondary"
                          >ashutoshpandeyy69@gmail.com</small
                        >
                      </div>
                    </div>
                    <p class="m-0 fw-semibold text-secondary">Owner</p>
                  </div>
                </div>
              </div>
              <div>
                <p class="text-secondary fw-semibold">General access</p>
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <div class="d-flex align-items-center">
                    <div class="AccessIconLock">
                      <span>
                        <i class="ri-lock-2-line"></i>
                      </span>
                    </div>
                    <div class="ms-2">
                      <p
                        class="dropdown-toggle m-0 text-dark fw-semibold"
                        style="line-height: 12px; font-size: 0.9rem"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Ashutosh Pandey (You)
                      </p>
                      <div class="dropdown-center">
                        <ul class="dropdown-menu shadow border-0 shareRole">
                          <li>
                            <a class="dropdown-item public"
                              ><i class="ri-folder-add-line me-2"></i> Public
                            </a>
                          </li>

                          <li>
                            <a class="dropdown-item private"
                              ><i class="ri-file-upload-line me-2"></i>Private
                            </a>
                          </li>
                        </ul>
                      </div>
                      <small class="m-0 text-secondary"
                        >Only people with access can open with the link</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="share-password" style="display: none">
              <form class="form-group w-75 ms-3 mb-3 d-flex">
                <input
                  class="form-control"
                  name="password"
                  placeholder="Set a password"
                  required
                />
                <input
                  class="ms-4 btn btn-primary pass-button"
                  type="submit"
                  value="Confirm"
                />
              </form>
            </div>
            <div class="modal-footer justify-content-between">
              <button
                type="button"
                class="copyLink btn btn-outline-primary border-dark"
              >
                <i class="ri-link"></i> Copy Link
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"
      integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../javascripts//dss.js"></script>
  </body>
</html>
